__pycache__
.idea
.vs
.vscode
.laptopvenv
.venv
.hintrc
.snyk
*.log
*.log.1
*.log.2
*.log.3
*.log.4
key.pem
cert.pem
_venv_activate.bat
personal_notes/
*.env
*.db
/.flitzenv/
node_modules
*.ini

!tox.ini