:root {
    color-scheme: only dark;
    --clr-crepe-white: rgba(127.5, 127.5, 127.5, 0.5);
    --clr-crepe-blue: rgba(0, 157, 255, 0.5);
    --clr-crepe-purple: rgba(91, 55, 87, 0.5);
    --clr-crepe-green: rgba(86, 110, 64, 0.5);
    --clr-crepe-yellow: rgba(236, 239, 64, 0.5);
    --clr-primary-surface: rgba(127.5, 127.5, 127.5, 0.5);
}

html, body {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Roboto, 'Sergoe UI', sans-serif !important;
}