/* header {
    position: relative;
    border-bottom: 1px solid black;
    min-height: 140px;
    overflow: hidden;
    background-color: #707070;
}

header p {
    display: inline-block;
}

header h1 {
    height: 50%;
    margin: 0 !important;
    text-align: center;
}

header ul {
    width: max-content;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 50%;
    transform: translateY(-100%);
    overflow: hidden;

    border-top: 1px solid black;
    border-right: 1px solid black;
}

li {
    float: left;
}
li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 8px;
    background-color: #575757;
}
li:hover a {
    color: #dddddd;
    background-color: black;
}

li a.active {
    background: repeating-linear-gradient(
        45deg,
        #ff0000,
        #ff0000 10px,
        #000000 10px,
        #000000 20px
    );
    color: white;
    font-weight: bolder;
} */

.header-icon {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
}

header {
    min-height: 150px;
}

header h1 {
    display: flex;
    margin: 0;
    text-align: center;
}
header h1 p {
    margin: 0;
    margin-left: 5px;
    line-height: 1lh;
}

.header-nav-bar {
    display: grid;
    grid-template-columns: 
        repeat(auto-fill, 200px);
}

.header-nav-bar a {
    float: left;
}