@import url(/static/css/header_style.css);
@import url(/static/css/colors.css);
@import url(/static/css/index_alert.css);




* {
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 100%;
}

#grid-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 25%;

    grid-template-areas:
        "header links"
        "crepes sidenav";
}

#side_nav {

    border-left: 5px solid var(--clr-primary-border);

    background-color: var(--clr-primary-surface);

    span {
        float: right;
    }

    h2 {
        border-bottom: 1px solid;
    }

    table {
        margin-left: 5%;

        margin-right: 5%;

        width: 90%;
    }

    th {
        padding-bottom: 15px;

        text-align: right;
    }

    td {
        text-align: right;
    }

    table td+td {
        border-left: 1px solid black;
    }
}

.side-nav-menu {
    font-size: x-large;
}

#main-content {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
    /* position: sticky;
    top: 230px;
    z-index: 100; */
    padding: 1em;

    input[type="number"] {
        background-color: white;
    }

    ;
    max-height: 100%;
    /* overflow-y: scroll; */

    >div {
        min-height: 120px;
    }
}

#main-content::before,
#main-content::after {
    content: none;
}

.crepecontrol {
    position: relative;
    float: right;
    text-align: center;

    p {
        position: absolute;
        font-size: 120%;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    button {
        font-weight: 900;
        width: 50px;
        height: 50px;

        border-width: 0.5px;
        border-style: solid;
    }

    .add {
        border-color: var(--clr-ok);
    }

    .remove {
        border-color: var(--clr-caution);
    }
}


#sell_buttons {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    *:hover {
        background-color: grey;
    }

    button {
        width: fit-content;
        height: 50px;
        display: block;
        text-wrap: pretty;
    }
}

#content {

    .crepe_container {
        border: 1px solid var(--clr-primary-border);
        padding: 15px;
    }

    overflow-y: scroll;
}