* {
    font-family: sans-serif;
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#form_head a {
    text-decoration: none;
    display: flex;
    height: fit-content;
    width: fit-content;
    float: right;
}

#loginForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: min-content;
    background-color: grey;
    margin: auto;
    padding: 10px;
    border: 5px dashed black;
}

input {
    margin-bottom: 5px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}