@import url(/static/css/header_style.css);

:root {
    font-family: sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

#shift_list {
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

@media (max-width: 600px) {
    #shift_list {
        grid-template-columns: auto;
    }
}

@media (max-width: 300px) {
    body * {
        display: none;
    }
}


.shift_card {
    width: 100%;
    height: max-content;
    padding: 15px;
}

#open_creator {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#shift_creator {
    padding: 15px;
}

table td {
    padding-bottom: 15px;
    padding-right: 10px;
}

tr output {
    padding-left: 5px;
}

#duration_2 {
    width: 10ch;
    -moz-appearance: textfield;
    appearance: textfield;
}

div.ago {
    background-color: rgba(139, 0, 0, .4);
}

div.shortly {
    background-color: rgba(173, 255, 47, .4);
}

div.far {
    background-color: rgba(220, 220, 220, .4);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, .4);
}

dialog {
    border-color: black;
}

dialog.warn {
    border-color: rgb(127, 0, 0);
}