@import url(/static/css/header_style.css);

:root {
    font-family: sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

#shift_list {
    margin: 10px;
}

.shift_card {
    width: 50%;
    height: max-content;
    background-color: gainsboro;
}

div.elapsed {
    background-color: darkred;
    color: wheat;
}

#open_creator {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

::backdrop {
    background-color: black;
    opacity: 0.5;
}

#shift_creator {
    padding: 15px;
}

table td {
    padding-bottom: 15px;
    padding-right: 10px;
}

tr output {
    padding-left: 5px;
}

#duration_2 {
    width: 10ch;
    -moz-appearance: textfield;
    appearance: textfield;
}