div[data-color="white"] {
    background-color: var(--clr-crepe-white);
}
div[data-color="blue"] {
    background-color: var(--clr-crepe-blue);
}
div[data-type="special"] {
    background-color: var(--clr-crepe-purple);
}
div[data-type="hearty"] {
    background-color: var(--clr-crepe-green);
}
div[data-type="sweet"] {
    background-color: var(--clr-crepe-yellow);
}