:root {
    --table-primary: rgb(69, 72, 75);
    --table-primary-darker: rgb(53, 56, 58);
    --table-secondary: rgb(45, 47, 49);
    --table-secondary-darker: rgb(31, 32, 34);
    --table-row-height: 50px;
}

html,
body {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 10px;
    padding: 15px;
}

table {
    padding-inline: 5px;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;
    outline: 0.5px solid;


    th {
        background-color: rgb(82, 86, 89);
        border-bottom: 1px solid black;
    }

    tr {
        text-align: right;
    }

    tr[data-id] {
        background-color: var(--table-primary);
        height: var(--table-row-height);

    }
    
    tr.padding-row {
        line-height: 5px;
    }

    td[data-cell]>button {
        width: 100%;
        height: 100%;
    }

    tr:nth-child(even):not([class]) {
        background-color: var(--table-secondary);
    }

    .endOfSale {
        vertical-align: top;
        height: calc(var(--table-row-height) * 1.5);

        td {
            text-decoration: double underline;
            text-underline-offset: 1ex;
        }
    }
}

canvas {
    filter: invert(1) hue-rotate(180deg); /* Macht die darstellung des Graphen etwas mehr lesbar */
}