:root {
    color-scheme: only dark;
    --clr-crepe-white: rgb(127.5, 127.5, 127.5);
    --clr-crepe-blue: rgb(0, 157, 255);
    --clr-crepe-purple: rgb(91, 55, 87);
    --clr-crepe-green: rgb(86, 110, 64);
    --clr-crepe-yellow: rgb(177, 179.25, 48);
    --clr-primary-surface: rgb(45, 46, 51);
    --clr-secondary-surface: rgb(88, 88, 88);
    --clr-ok: rgb(0, 54, 0);
    --clr-caution: rgb(77, 0, 0);
    --clr-primary-border: rgb(96, 99, 109);
}

* {
    font-family: 'Noto Sans', 'Sergoe UI', sans-serif;
}