@import url(/static/css/header_style.css);
@import url(/static/css/colors.css);
@import url(/static/css/index_alert.css);

@media (max-width: 620px) {
    body * {
        display: none;
    }

    html::before {
        content: 'Device width too small!';
        font-size: xxx-large;
    }
}


* {
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 100%;
}

#grid-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr max(25%, 270px);

    grid-template-areas:
        "header links"
        "crepes sidenav";
}

#side_nav {

    min-width: 270px;

    border-left: 5px solid var(--clr-primary-border);

    background-color: var(--clr-primary-surface);

    >p.side-nav-menu {
        margin-inline: 0.5%;
    }

    h2, h3 {
        margin: 5%;
    }

    table {
        margin-inline: 5%;

        width: 90%;
    }

    th {
        padding-bottom: 15px;

        text-align: right;
    }

    td {
        text-align: right;
    }

    table td+td {
        border-left: 1px solid black;
    }
}

.side-nav-menu {
    font-size: x-large;
}

#main-content {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    /* position: sticky;
    top: 230px;
    z-index: 100; */
    padding: 1em;

    input[type="number"] {
        background-color: white;
    }

    ;
    max-height: 100%;
    /* overflow-y: scroll; */

    >div {
        min-height: 120px;
    }
}

#main-content::before,
#main-content::after {
    content: none;
}

.crepecontrol {
    position: relative;
    float: right;
    text-align: center;

    p {
        position: absolute;
        font-size: 120%;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    button {
        font-weight: 900;
        width: 50px;
        height: 50px;

        border-width: 0.5px;
        border-style: solid;
    }

    .add {
        border-color: var(--clr-ok);
    }

    .remove {
        border-color: var(--clr-caution);
        margin-right: 0.5rem;
    }
}


#sell_buttons {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    
    .flex-force-break {
        flex-basis: 100%;
    }

    button {
        width: fit-content;
        height: 50px;
        display: block;
        text-wrap: wrap;
        transition: background 200ms linear;

        [data-function="reset"] {
            background-color: var(--clr-caution-dark);
        }
    }
}

#content {

    .crepe_container {
        border: 1px solid var(--clr-primary-border);
        padding: 15px;
        border-radius: 1rem;
    }

    overflow-y: scroll;
    padding-bottom: 5rem;
}

#cashback-dialog-main {
    >h2 {
        text-decoration: double dashed;
    }

    >.preselecter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

        >div.cashback-reset > button.reset-btn {
            width: 100%;
            height: 100%;
        }

        >[data-value] {
            display: grid;
            grid-template-areas: 
                "empty plus"
                "empty minus";

            padding: 0;

            >div {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }

        >[data-value] {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            font-size: 5em;
            border: 10px solid black;
            color: white;
            background-color: rgba(50, 50, 50, 0.9);
            background-size: cover;
        }

        >[data-value] > button.overlay-add {
            grid-area: "plus";
            background-color: rgba(0, 151, 0, 0.527);
        }
        >[data-value] > button.overlay-remove {
            grid-area: "minus";
            background-color: rgba(151, 0, 0, 0.527);
        }
        >[data-value] > button {
            font-size: larger;
            text-align: center;


            min-width: 50%;
            height: 100%;

            border: none;
        }

        >img {
            position: absolute;
            width: max-content;
            height: auto;
        }

        /* >[data-value="5"] {
            background-image: url("/static/assets/5_euro.min.jpg");
        } */
        >[data-value="10"] {
            background-image: url("/static/assets/money/10_euro.min.jpg");
        }
        >[data-value="20"] {
            background-image: url("/static/assets/money/20_euro.min.jpg");
        }
        >[data-value="50"] {
            background-image: url("/static/assets/money/50_euro.min.jpg");
        }
        >[data-value="100"] {
            background-image: url("/static/assets/money/100_euro.min.jpg");
        }

        >[data-value] > img {
            position: absolute;
            top: 0;
            left: 0;
        }

        >[data-value],
        >[data-value] > img {
            border: none;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
            width: 200px;
            object-fit: scale-down;
            aspect-ratio: 1.93;
        }

        >[data-value] > img {
            z-index: -1;
        }
    }

    >#calcOut {

        display: grid;
        grid-template-columns: 1fr 1fr;

        input[type="text"] {
            text-align: right
        }
    };
}