<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS Files -->
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_crepecontrol.css') }}">
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!-- JS Files -->

    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    
    <script src="{{ url_for('static', filename='js/jquery.js') }}" ></script>
    
    <title>Crêpes</title>
    
</head>
<body>
    
    <header id="oben">
        <div>
            <h1 class="w3-bar-item">Crêpes</h1>
            <a href="/einstellungen">
                <p><span class="icon material-symbols-outlined">settings</span>Einstellungen</p>
            </a>
        </div>
    </header>

    <div id="side_nav" style="width: 25%">
        
        <p class="w3-bar-item">Bestellung<span class="collapse_sidemenu w3-button"><a href="/help_page"><span class="material-symbols-outlined">question_mark</span></a></span></p>
        
        <div id="sell_buttons">
            <button data-function="payed">Bezahlt</button>
            <button data-function="pay_back">Rückgeld</button>
            <button data-function="own_consumption">Eigenverbrauch</button>
        </div>
        
        <table id="crepe_table">
            <tr>
                <th>Anzahl</th>
                <th style="width: 75%;">Art</th>
                <th>Preis</th>
            </tr>
            <tr>
                <td>2</td>
                <td>Schoko</td>
                <td>3€</td>
            </tr>
        </table>

    </div>
    
    <div class="content">
        
    
    
    
        <div id="main" class="w3-container">
            {% for crepe in crepes %}
            <div class="crepe_container" data-name="{{ crepe['name'] }}" data-preis="{{ crepe['price'] }}" data-colour="{{ crepe['colour'] }}" data-id="{{ crepe['id'] }}">
                <div class="crepecontrol w3-right">
                    <button>-</button>
                    <button>+</button>
                </div>
                <h4>{{ crepe['name'] }}</h4>
                
                <p>[PREIS]</p>
            </div>
            {% endfor %}
        </div>

    </div>
    
</body>

</html>