<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/external/googlefonts.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/external/w3.css')}}">
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script src="{{ url_for('static', filename='js/settings.js') }}" defer></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Einstellungen</title>
</head>
<script>
    function return_crepes() {
        return {{ crepes|safe }};
    }
</script>
<body>
    <a href="./">
        <div id="move_back">
                <span class="material-symbols-outlined">arrow_back</span> Zurück
        </div>
    </a>

    <div id="header">
        <h1><span class="icon material-symbols-outlined">settings</span>Einstellungen</h1>
        <a href="/schichten">Schichten</a>
    </div>

    <div id="crepes_action">
        <div id="create" data-type="table">
            <h2>Crêpes Erstellen</h2>
            <!-- Hier beginnt die Erstellung -->
            <form action="#" autocomplete="off" onsubmit="create_crepe(); return false;">
                <table>
                    <tr>
                        <td>
                            <label for="crepeName">Crêpes Name:</label>
                        </td>
                        <td>
                            <input type="text" id="crepeName" name="crepeName" placeholder="Crêpes Name" required autocomplete="off"><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="price">Preis: </label>
                        </td>
                        <td>
                            <input id="price" name="price" type="number" min="0" step="0.01" required autocomplete="off"> €<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="ingredients">Zutaten</label>
                        </td>
                        <td>
                            <div class="tooltipRightContainer">
                                <input class="tooltipRightInput" id="ingredients" type="text" placeholder="Zutaten" required autocomplete="off">
                                <div class="tooltipRight">Mit Komma getrennt</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="color">Farbe</label>
                        </td>
                        <td>
                            <input type="color" name="ccolor" id="ccolor" hidden>
                            <select name="color" id="color" onchange="change_selected();" style="text-shadow: 0 0 10px white;">
                                <option value="#FFFFFF" style="background-color: #FFFFFF" selected></option>
                                <option value="#009DFF" style="background-color: #009DFF"></option>
                                <option value="#5B3758" style="background-color: #5B3758"></option>
                                <option value="#566E3D" style="background-color: #566E3D"></option>
                                <option value="#FF1B1C" style="background-color: #FF1B1C"></option>
                                <option value="#31E981" style="background-color: #31E981"></option>
                                <option value="#31E981" style="background-color: #eaee20"></option>
                                <option value="custom">Benutzerdefiniert</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Neuen Crêpes erstellen!">
                        </td>

                    </tr>
                </table>
            </form>
            <!-- Hier endet die Erstellung -->
        </div>
        <hr>
    </div>
    <div id="list">
        <div id="no_crepes">
            <h2>Here are no crêpes!</h2>
        </div>
        <!-- Hier beginnt die Editierung -->
        <fieldset>
            <legend>Bearbeiten</legend>
            <div id="crepes_list" data-type="liste">
                {% for crepe in crepes %}
                <div class="crepe_container" data-id="{{ crepe['id'] }}" data-name="{{ crepe['name'] }}" data-preis="{{ crepe['price'] }}" data-colour="{{ crepe['colour'] }}">
                    <div class="crepecontrol w3-right">
                        <div class="icon_container">
                            <button data-type="del" data-name="{{ crepe['name'] }}" onclick="delte_crepe(this);">
                                <span class="material-symbols-outlined">delete</span>
                            </button>
                        </div>
                    </div>
                    <input type="text" value="{{ crepe['name'] }}" /><br>
                    <input type="text" value="{{ crepe['price'] }}" /><br>
                </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>
    <button id="save_btn" onclick="button_save_changes_to_server(); return false;" type="button">
        <p id="save_text">Speichern</p>
        <div id="loader_container">
            <div id="loader"></div>
        </div>
    </button>
</body>
</html>