<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shifts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/external/googlefonts.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/external/w3.css')}}">
    <script src="{{ url_for('static', filename='js/shifts.js') }}" defer></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Schichten</title>
</head>
<body>
    <header>
        <h1>
            <span class="icon material-symbols-outlined">settings</span>
            <p>Schichten</p>
        </h1>
        <ul>
            <li><a href="/">Kasse</a></li>
            <li><a href="/einstellungen">Einstellungen</a></li>
            <li><a href="#" class="active">Schichten</a></li>
        </ul>

    </header>
    <div id="shift_list">
        {% for shift in shifts %}
        <div onclick="ev_Listener(this);">
            <p>{{ shift["shift_name"] }}</p>
            <p data-type="start">{{ shift["time_start"] }}</p>
            <p data-fill="elapsed"></p>
            <hr>
        </div>
        {% endfor %}
    </div>
</body>
</html>