<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/external/w3.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/external/googlefonts.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shifts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <script src="{{ url_for('static', filename='js/shifts.js') }}" defer></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Schichten</title>
</head>
<body>
    <header>
        <h1>
            <span class="icon material-symbols-outlined">settings</span>
            <p>Schichten</p>
        </h1>
        <ul>
            <li><a href="/">Kasse</a></li>
            <li><a href="/einstellungen">Einstellungen</a></li>
            <li><a href="#" class="active">Schichten</a></li>
        </ul>

    </header>

    <button id="open_creator">Neue Schicht erstellen</button>

    <dialog id="shift_editor">
        <form action="#" onsubmit="dialog_manager(); return false">
            <table>
                <h2 ctype="header">Neue Schicht erstellen</h2>
                <tr>
                    <td><label for="shift_name">Schicht-Name: </label></td>
                    <td><input type="text" name="shift_name" id="shift_name"></td>
                </tr>
                <tr>
                    <td><label for="time_start">Startzeit: </label></td>
                    <td><input type="datetime-local" name="time_start" id="time_start"></td>
                </tr>
                <tr>
                    <td><label for="duration">Schicht-Dauer: </label></td>
                    <td><input type="range" name="duration" id="duration" value="5" min="5" max="240"><output><input type="number" name="duration" id="duration_2" min="5", max="240" step="1" /> Minuten</output></td>
                </tr>
                <tr>
                    <td><button id="dialog_close" type="button">Schließen</button></td>
                    <td><button id="dialog_create" type="button">Erstellen</button></td>
                </tr>
            </table>
        </form>
    </dialog>

    <div id="shift_list">
        {% for shift in shifts %}
        <div class="shift_card">
            <p data-type="name">{{ shift["shift_name"] }}</p>
            <p data-type="start" hidden>{{ shift["time_start"] }}</p>
            <p data-type="elapsed">In: </p>
        </div>
        {% endfor %}
    </div>
</body>
</html>